.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.aboutTitle {
  width: 250px;
  border-bottom: 1px solid #f1d302;
  font-size: 36px;
  line-height: 39px;
  color: #0e1c36;
  letter-spacing: 0.001em;
}

.aboutContainer {
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 65%;
}
.aboutText {
  word-break: keep-all;
  width: 58%;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000000a6;
}
.profilePhoto {
  width: 240px;
  height: 240px;
  border-radius: 578.5px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

/* Icons */
.iconContainer {
  margin-top: 4rem;
  width: 65%;
  display: flex;
  justify-content: space-around;
}
.icon {
  font-size: 45px;
  width: 45px !important;
  color: white;
  background: #f1d302;
  padding: 25px;
  border-radius: 50%;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}
.iconText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconText > h4 {
  font-weight: 400;
  font-size: 25px;
  margin-top: 4px;
  color: #000000a6;
}
.iconText > p {
  font-size: small;
  margin-top: -30px;
  font-weight: 100;
  max-width: 88%;
  text-align: center;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 650px) {
  .iconContainer {
    margin-top: 0;
    width: 94%;
  }
  .icon {
    font-size: 2.5rem !important;
    width: 2.5rem !important;
    padding: 17px;
  }
  .iconText > h4 {
    font-weight: 600;
    font-size: 10px;
  }
  .iconText > p {
    font-size: 10px;
    margin-top: -7px;
  }
  .aboutContainer {
    margin-top: 0;
    flex-direction: column;
  }
  .aboutContainer > .profilePhoto {
    width: 200px;
    height: 200px;
  }
  .aboutText {
    width: 145%;
    font-size: 12px;
  }
}
@media only screen and (min-width: 1824px) {
  .aboutTitle {
    font-size: 5rem;
    border-bottom: 3px solid #f1d302;
    line-height: 5rem;
  }
  .icon {
    font-size: 5rem !important;
    width: 5rem !important;
    padding: 3rem;
  }
  .iconText > h4 {
    font-size: 3.8rem;
  }
  .iconText > p {
    font-size: 1.7rem;
    margin-top: -4rem;
  }
  .aboutText {
    width: 50%;
    font-size: 2rem;
    line-height: unset;
  }
  .aboutContainer > .profilePhoto {
    width: 25rem;
    height: 25rem;
  }
}
