.about {
  /* position: absolute; */
  /* width: 1441px; */
  /* height: 854px; */
  /* left: 10vw; */
  /* top: 70rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  /* position: absolute; */
  /* left: 541px; */
  /* top: 49px; */
  width: 358px;
  border-bottom: 1px solid #f1d302;

  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  letter-spacing: 0.02em;

  color: #0e1c36;
}

.aboutContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 65%;
}

.aboutText {
  width: 36rem;
  font-family: Raleway;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000000;
}
.profilePhoto {
  width: 240px;
  height: 240px;
  border-radius: 578.5px;
}
