.nav {
  position: sticky;
  width: 100vw;
  height: 40px;
  background: #081122;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 3px solid #f1d302;
  transition: 0.3s;
  z-index: 50;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 650px) {
  .nav > .menuContainer {
    margin-right: 0;
  }
  .menuContainer > .menuItem {
    margin-right: 0.8rem;
    font-size: 0.9rem;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  animation-name: slide;
  animation-duration: 0.9s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transform: translate(0, -20px);
}

.sticky + .content {
  padding-top: 60px;
}

@keyframes slide {
  0% {
    transform: translate(0, -60px);
    top: 0;
  }
  100% {
    transform: translate(0, 0);
  }
}

.menuContainer {
  display: flex;
  margin-right: 15rem;
}
.menuItem {
  margin-right: 2rem;
  font-family: Raleway;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: white;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
}
.menuItem:hover {
  color: #f1d302;
}
.active {
  color: #f1d302;
}
