.nav {
  position: sticky;
  width: 100vw;
  height: 40px;
  background: #081122;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 3px solid #f1d302;
  transition: 0.3s;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  animation-name: slide;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transform: translate(0, -20px);
}

.sticky + .content {
  padding-top: 60px;
}

@keyframes slide {
  0% {
    transform: translate(0, -55px);
    /* opacity: 0.1; */
    top: 0;
  }
  100% {
    transform: translate(0, 0);
    /* opacity: 1; */
  }
}

.menuContainer {
  display: flex;
  margin-right: 15rem;
}
.menuItem {
  margin-right: 2rem;
  font-family: Raleway;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}
.menuItem:hover {
  color: #f1d302;
}
.active{
  color: #f1d302;
}