.nav {
  width: 100vw;
  height: 70px;
  background: #081122;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 3px solid #f1d302;
}
.menuContainer {
  display: flex;
  margin-right: 15rem;
}
.menuItem {
  margin-right: 2rem;
  font-family: Raleway;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}
.menuItem:hover {
  color: #f1d302;
}
