.projects {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  height: 100vh;
  border-bottom: 2px solid #f1d302;
}

.projectsTitle {
  width: 250px;
  border-bottom: 1px solid #f1d302;
  font-size: 36px;
  line-height: 52px;
  color: #0e1c36;
}
.grid-container {
  height: 85%;
  width: 60%;
  margin-bottom: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
}
.project {
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.infoContainer {
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: all 0.6s ease-in-out;
}
.infoContainer:hover {
  background: #ffffff;
}
.infoContainerText {
  top: 0.5rem;
  position: absolute;
  text-align: center;
}
.infoContainerText > h2 {
  margin-bottom: -0.6rem;
  font-size: 2rem;
  font-weight: 300;
  color: #0e1c36;
}
.infoContainerText > h3 {
  font-size: 0.8rem;
  font-weight: 300;
  color: #738dc5;
}
.infoContainer > button {
  position: absolute;
  bottom: 4.5rem;
  width: 10rem;
  background: transparent;
  height: 2.5rem;
  border: 2px #738dc5 solid;
  font-family: "Raleway";
  font-size: 1rem;
  font-weight: 500;
  color: #505050;
  transition: all 0.4s ease-in-out;
}
.infoContainer > button:hover {
  background-color: #f1d301;
  border: 2px #f1d301 solid;
  color: #ffff;
}
.hide {
  /* visibility: hidden; */
  display: none;
  /* opacity: 0 !important; */
}
