/* SKILLS */
.skills {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  background: transparent;
  height: 707px;
}
.skillsTitle {
  width: 250px;
  border-bottom: 1px solid #f1d302;
  font-size: 46px;
  line-height: 52px;
  color: white;
}
.skillsRectangle {
  height: 303px;
  width: 100%;
  /* background: #0e1c36; */
  background: transparent;
}
