/* SKILLS */
.skills {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: rgb(245, 245, 245);
}
.skillsTitle {
  width: 250px;
  border-bottom: 1px solid #f1d302;
  font-size: 36px;
  line-height: 39px;
  color: #0e1c36;
  letter-spacing: 0.001em;
}
.skillsRectangle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 90%;
}

.singleSkill {
  padding-left: 1rem;
  padding-right: 1rem;
  position: absolute;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: inline-block;
  background-color: #f1d302;
  color: white;
  text-transform: uppercase;
  -webkit-text-stroke: white 1px;
  font-weight: 400;
  font-size: 1.5rem;
  border-radius: 50rem;
}

.skillsContainer {
  justify-content: space-evenly;
  position: relative;
  height: 65%;
  width: 47%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.skill {
  position: relative;
  align-items: center;
  display: flex;
  justify-items: center;
  width: 750px;
  background: #e0e0e0;
}
.skill > p {
  position: absolute;
  right: 0.5rem;
  font-size: 0.9rem;
  font-weight: 300;
  color: #0e1c368f;
}
.skill > h5 {
  background: #f1d302;
  color: white;
  align-items: center;
  justify-content: center;
  width: 7rem;
  margin: 0px;
  height: 2rem;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 15px 10px 6px -6px #777;
}

.rectangle {
  background-color: #738dc5;
  height: 2rem;
  z-index: 5;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}
.rectangleLight {
  position: absolute;
  right: 0rem;
  background-color: #4159853b;
  height: 2rem;
  width: 38rem;
  z-index: 4;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

/* Animations */
.grow90 {
  animation-name: grow90;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
@keyframes grow90 {
  0% {
    width: 0rem;
  }
  100% {
    width: 31.5rem;
  }
}
.grow70 {
  animation-name: grow70;
  animation-duration: 3s;
  animation-delay: 3.2s;
  animation-fill-mode: forwards;
}
@keyframes grow70 {
  0% {
    width: 0rem;
  }
  100% {
    width: 24.5rem;
  }
}
.grow60 {
  animation-name: grow60;
  animation-duration: 3s;
  animation-delay: 3.4s;
  animation-fill-mode: forwards;
}
@keyframes grow60 {
  0% {
    width: 0rem;
  }
  100% {
    width: 21rem;
  }
}
.grow30 {
  animation-name: grow30;
  animation-duration: 3s;
  animation-delay: 3.1s;
  animation-fill-mode: forwards;
}
@keyframes grow30 {
  0% {
    width: 0rem;
  }
  100% {
    width: 10.2rem;
  }
}
.grow40 {
  animation-name: grow40;
  animation-duration: 3s;
  animation-delay: 3.2s;
  animation-fill-mode: forwards;
}
@keyframes grow40 {
  0% {
    width: 0rem;
  }
  100% {
    width: 14rem;
  }
}
.grow50 {
  animation-name: grow50;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
@keyframes grow50 {
  0% {
    width: 0rem;
  }
  100% {
    width: 17rem;
  }
}
